# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\ioana\OneDrive\Documents\Facultate\Semestrul 4\Ingineria Sistemelor Soft\SeatsReservations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
